<div class='container'>
  <div class='row'>
    <div class="col"></div>
    <div class="col-6">
      <div class="jumbotron">
        <h1 class="display-4">蝦皮關鍵字外掛</h1>
        <p class="lead">前往新增商店</p>
        <%= link_to '新增商店', '#', class: 'btn btn-info btn-lg', role: 'button' %>
        <hr class="my-4">
        <p>前往關鍵字搜尋</p>
        <%= link_to '搜尋', new_scraper_path, class: 'btn btn-primary btn-lg', role: 'button' %>
      </div>
    </div>
    <div class="col"></div>
  </div>  
</div>


